.register-container {
    margin-top: 64px; /* Отступ сверху, если есть toolbar */
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px);
  }
  
  .register-card {
    width: 400px;
  }