<div class="container">
  <h1 class="header">Зарегистрируйте ваш аккаунт</h1>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="custom-input">
      <mat-label>Логин</mat-label>
      <input matInput formControlName="username" required>
      <mat-error *ngIf="f['username'].invalid && (f['username'].dirty || f['username'].touched)">
        Логин обязателен
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="custom-input">
      <mat-label>Пароль</mat-label>
      <input matInput formControlName="password" type="password" required>
      <mat-error *ngIf="f['password'].invalid && (f['password'].dirty || f['password'].touched)">
        <span *ngIf="f['password'].errors?.['required']">Пароль обязателен</span>
        <span *ngIf="f['password'].errors?.['minlength']">Пароль должен быть больше 4 символов</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="custom-input">
      <mat-label>Имя</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>

    <mat-form-field appearance="fill" class="custom-input">
      <mat-label>Фамилия</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>

    <mat-form-field appearance="fill" class="custom-input">
      <mat-label>Отчество</mat-label>
      <input matInput formControlName="middleName">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="registrationForm.invalid">Зарегистрироваться</button>
  </form>
</div>
