  <app-admin-header></app-admin-header>
  <table class="user-table" *ngIf="users">
    <thead>
      <tr>
        <th>Наименование</th>
        <th>Статус</th>
        <th>Роль</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>
          <img [src]="user.avatar" class="user-avatar">
          <div>
            <div>{{ user.firstName }} {{ user.lastName }}</div>
            <div class="user-username">{{ user.username }}</div>
          </div>
        </td>
        <td>
          <span class="status" [class.active]="user.isActive">{{ user.isActive ? 'Активен' : 'Неактивен' }}</span>
        </td>
        <td>{{ user.role }}</td>
        <td>
          <button [routerLink]="['/admin/users/', user.id]" style="cursor:pointer;" class="action-button edit-button">✏️</button>
          <button (click)="onDeleteUser(user.id)" class="action-button delete-button">🗑️</button>
        </td>
      </tr>
    </tbody>
  </table>
  <router-outlet></router-outlet>
