<form class="example-form">
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Название</mat-label>
      <input matInput 
      pattern="[а-яА-ЯеЁ]*"
      required 
      #name="ngModel"
      name="name"  
      [(ngModel)]="create_book.name"/> 
    </mat-form-field>
  </div>
  <div *ngIf="name.invalid && (name.dirty || name.touched)">
    <div
      *ngIf="name.hasError('required')"
      class="alert alert-danger mt-2"
      role="alert"
    >
      Поле должно быть заполнено
    </div>
    <div
      *ngIf="name.hasError('pattern')"
      class="alert alert-danger mt-2"
      role="alert"
    >
      Поле должно содержать только русские буквы, без пробелов, без цифр, без спец. символов
    </div>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Автор</mat-label>
      <input matInput 
      pattern="[а-яА-ЯеЁ]*"
      required 
      #author="ngModel"
      name="author"  
      [(ngModel)]="create_book.author"/> 
    </mat-form-field>
  </div>
  <div *ngIf="author.invalid && (author.dirty || author.touched)">
    <div
      *ngIf="author.hasError('required')"
      class="alert alert-danger mt-2"
      role="alert"
    >
      Поле должно быть заполнено
    </div>
    <div
      *ngIf="author.hasError('pattern')"
      class="alert alert-danger mt-2"
      role="alert"
    >
      Поле должно содержать только русские буквы, без пробелов, без цифр, без спец. символов
    </div>
  </div>
</form>


<!-- <form class="container my-auto">
  <div class="mb-3">
    <label class="form-label">Название</label>
    <input
      minlength="2"
      maxlength="10"
      pattern="[a-zA-Zа-яА-ЯеЁ]*"
      required
      #firstName="ngModel"
      name="name"
      [(ngModel)]="create_book.name"
      type="text"
      class="form-control"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Автор</label>
    <input
      minlength="2"
      maxlength="10"
      pattern="[a-zA-Zа-яА-ЯеЁ]*"
      required
      #secondName="ngModel"
      name="author"
      [(ngModel)]="create_book.author"
      type="text"
      class="form-control"
    />
  </div>
  <button
  (click)="creatBook()"
  type="submit"
  class="btn btn-primary">
    Добавить
  </button>
</form> -->
  <button
    [disabled]="name.invalid || author.invalid"
    (click)="creatBook()"
    type="submit"
    class="btn btn-primary"
  >Добавить
  </button>



<table mat-table [dataSource]="Books" class="mat-elevation-z8">
  <ng-container matColumnDef="Номер">
    <th mat-header-cell *matHeaderCellDef> Номер </th>
    <td mat-cell *matCellDef="let Books"> {{Books.number}} </td>
  </ng-container>

  <ng-container matColumnDef="Название">
    <th mat-header-cell *matHeaderCellDef> Имя </th>
    <td mat-cell *matCellDef="let Books"> {{Books.name}} </td>
  </ng-container>

  <ng-container matColumnDef="Автор">
    <th mat-header-cell *matHeaderCellDef> Автор </th>
    <td mat-cell *matCellDef="let Books"> {{Books.author}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
