.auth-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-content {
  max-width: 400px;
  padding: 1rem;
  text-align: center;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

.custom-input .mat-form-field-wrapper {
  border-radius: 4px;
  overflow: hidden;
}

button {
  width: 100%;
}

.register-link {
  margin-top: 1rem;
}

.social-login {
  margin-top: 1rem;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.social-icon {
  margin-right: 8px;
  height: 24px;
  width: 24px;
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--white, #fff);
  padding: 16px;
  width: 100%;
  height: 110px;
}

.footer-divider {
  height: 1px;
  background-color: #e9ecef;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.copyright {
  color: var(--gray-400, #9ca3af);
  font: 400 16px Inter, sans-serif;
}

.social-nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.social-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 991px) {
  .container {
    padding: 0 20px;
  }
}

.name {
  font-size: 24px;
  font-weight: bold;
}

.toolbar span,
.toolbar a {
  color: #000000;
}

.toolbar {
  width: 1440px;
  height: 110px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  margin: 0 auto;
}

.auth-buttons, .user-info {
  align-items: center;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-details {
  margin-left: 10px;
}

.user-name {
  display: block;
  font-weight: bold;
}

.user-role {
  display: block;
  font-size: 0.9em;
  color: gray;
}

.mat-toolbar.mat-primary {
  background: rgba(255, 255, 255, 0);
  color: #000000;
}

.mat-icon {
  font-size: 24px;
}

.image-button {
  margin-right: 15px;
}

.button-image {
  width: 24px; 
  height: 24px;
  object-fit: contain; 
}

.center-block {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.center-block a {
  font-size: 18px;
  color: black;
}
