<form class="example-form">
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Название</mat-label>
      <input matInput 
      pattern="[а-яА-ЯеЁ]*"
      required 
      #name="ngModel"
      name="name"  
      [(ngModel)]="create_book.name"/> 
    </mat-form-field>
  </div>
  <div *ngIf="name.invalid && (name.dirty || name.touched)">
    <div
      *ngIf="name.hasError('required')"
      class="alert alert-danger mt-2"
      role="alert"
    >
      Поле должно быть заполнено
    </div>
    <div
      *ngIf="name.hasError('pattern')"
      class="alert alert-danger mt-2"
      role="alert"
    >
      Поле должно содержать только русские буквы, без пробелов, без цифр, без спец. символов
    </div>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Автор</mat-label>
      <input matInput 
      pattern="[а-яА-ЯеЁ]*"
      required 
      #author="ngModel"
      name="author"  
      [(ngModel)]="create_book.author"/> 
    </mat-form-field>
  </div>
  <div *ngIf="author.invalid && (author.dirty || author.touched)">
    <div
      *ngIf="author.hasError('required')"
      class="alert alert-danger mt-2"
      role="alert"
    >
      Поле должно быть заполнено
    </div>
    <div
      *ngIf="author.hasError('pattern')"
      class="alert alert-danger mt-2"
      role="alert"
    >
      Поле должно содержать только русские буквы, без пробелов, без цифр, без спец. символов
    </div>
  </div>
</form>
  <button
    [disabled]="name.invalid || author.invalid"
    (click)="creatBook()"
    type="submit"
    class="btn btn-primary"
  >Добавить
  </button>

<div>
  <h1 class="display-6 container m-5">Список книг</h1>
  <table class="table table-striped container pt-10">
    <thead>
      <tr>
        <th scope="col">Номер</th>
        <th scope="col">Название</th>
        <th scope="col">Автор</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of Books; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ book.name }}</td>
        <td>{{ book.author }}</td>
      </tr>
    </tbody>
  </table>
</div>
