.error-page {
  background-color: #fff;
  padding-top: 1px;
  padding-bottom: 1px;
  display: flex;
  gap: 20px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.error-content {
  display: flex;
  min-height: 310px;
  flex-direction: column;
  font-family: Inter, sans-serif;
  justify-content: center;
  padding: 128px 32px;
}

.error-header {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.error-code {
  color: #3a3395;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.35px;
  text-transform: uppercase;
  margin: 0;
}

.error-title {
  color: #111827;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -1.2px;
  margin: 8px 0;
}

.error-description {
  color: #6b7280;
  font-size: 16px;
  font-weight: 400;
  margin: 8px 0;
}

.error-navigation {
  margin-top: 24px;
  cursor:pointer;
}

.error-link {
  display: block;
  font-size: 16px;
  color: #3a3395;
  font-weight: 500;
  text-decoration: none;
  margin-top: 24px;
}

.image-wrapper {
  width: 50%;
}

.error-image {
  aspect-ratio: 0.71;
  object-fit: contain;
  width: 100%;
}

@media (max-width: 991px) {
  .error-page {
    flex-direction: column;
    padding: 20px;
  }

  .content-wrapper,
  .image-wrapper {
    width: 100%;
  }

  .error-content {
    padding: 100px 20px;
  }

  .error-title {
    font-size: 40px;
  }
}