<div class="carousel-container">
  <carousel [itemsPerSlide]="1" [interval]="5000" [pauseOnFocus]="true" [showIndicators]="false">
    <slide *ngFor="let recipe of recipes">
      <div class="slide-content">
        <div class="text-section">
          <h2>{{recipe.title}}</h2>
          <p>{{recipe.body}}</p>
          <div class="details">
            <span><mat-icon>schedule</mat-icon> {{recipe.timeCooking}} минут</span>
            <span><mat-icon>restaurant</mat-icon> {{recipe.tags.join(', ')}}</span>
            <span><img [src]="recipe.author.avatar" alt="Author" class="avatar"> {{recipe.author.firstName}} {{recipe.author.lastName}}</span>
            <span>{{recipe.createdOn | date:'dd MMMM yyyy'}}</span>
          </div>
          <button mat-raised-button color="primary">Посмотреть</button>
        </div>
        <div class="image-section">
          <img [src]="recipe.image" alt="{{recipe.title}}">
        </div>
      </div>
    </slide>
  </carousel>
</div>

<div class="container">
  <h2>Лучшие рецепты</h2>
  <p style="align-items: center;">На нашем сайте вы найдете лучшие рецепты, которые помогут вам создать великолепные блюда и порадовать своих близких и гостей своим кулинарным мастерством.</p>
  <div class="recipe-cards">
    <mat-card *ngFor="let recipe of recipes" class="recipe-card">
      <img mat-card-image [src]="recipe.image" alt="{{recipe.title}}">
      <mat-card-title>{{recipe.title}}</mat-card-title>
      <mat-card-subtitle>{{recipe.body}}</mat-card-subtitle>
      <mat-card-content>
        <p><strong>Время приготовления:</strong> {{recipe.timeCooking}} минут</p>
        <p><strong>Автор:</strong> {{recipe.author.firstName}} {{recipe.author.lastName}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <button mat-raised-button color="primary" (click)="loadMoreRecipes()">Посмотреть еще</button>
</div>
<section class="why-us-container">
  <h2 class="why-us-header">Почему именно мы?</h2>
  <div class="features-grid">
    <article class="feature-item" *ngFor="let feature of features">
      <div class="feature-content">
        <img src="assets\Image\free-icon-approve-sign-8373208.png" alt="check" class="feature-icon" />
        <div class="feature-text">
          <h3 class="feature-title">{{ feature.title }}</h3>
          <p class="feature-description">{{ feature.description }}</p>
        </div>
      </div>
    </article>
  </div>
</section>

<section class="newsletter-section">
  <div class="newsletter-container">
    <div class="newsletter-card">
      <div class="newsletter-content">
        <h2 class="newsletter-heading">Хотите получать новые рецепты?</h2>
        <p class="newsletter-text">
          Не пропустите ни одного вкусного рецепта! Подпишитесь на нашу рассылку, чтобы получать новые кулинарные идеи и рецепты прямо в свою почту.
        </p>
      </div>
      <form class="newsletter-form">
        <label for="emailInput" class="visually-hidden">Введите ваш email</label>
        <input
          required
          #email="ngModel"
          name="email"
          [(ngModel)]="create_email"  
          class="newsletter-input"
          placeholder="Введите ваш email..."
        />
        <button type="submit" class="newsletter-button" (click)="onSubmit()" [disabled]="email.invalid">Подписаться</button>
      </form>
    </div>
  </div>
</section>
