<div class="user-details">
  <div class="user-header">
    <div class="user-avatar-container">
      <img [src]="user.avatar" class="user-avatar">
    </div>
    <div class="user-info">
      <h2>{{ user.firstName }} {{ user.lastName }}</h2>
      <p>{{ user.role }}</p>
      <p>Дата регистрации: {{ user.createdOn | date:'short'}}</p>
      <span class="status" [class.active]="user.isActive">{{ user.isActive ? 'Активен' : 'Неактивен' }}</span>
    </div>
    <div class="delete-button-container">
      <button (click)="onDeleteUser()" class="action-button delete-button">Удалить</button>
    </div>
  </div>

  <div class="user-stats">
    <div class="stat">
      <span>Всего рецептов</span>
      <strong>{{ user.posts.length }}</strong>
    </div>
    <div class="stat">
      <span>Всего комментариев</span>
      <strong>{{ user.comments.length }}</strong>
    </div>
  </div>

  <div class="user-recipes" *ngIf="user.posts.length > 0">
    <div class=" title-create">Созданные рецепты</div>
    <div class="recipe-cards">
      <div *ngFor="let recipe of recipes" class="recipe-card">
        <img [src]="recipe.image"class="recipe-image"/>
        <div class="recipe-info">
          <p class="recipe-title">{{ recipe.title}}</p>
          <p class="recipe-date">Создан: {{ recipe.createdOn | date: 'short'}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="user-info-table">
    <h3>Информация аккаунта</h3>
    <table>
      <tr>
        <th>Фамилия</th>
        <td>{{ user.lastName }}</td>
      </tr>
      <tr>
        <th>Имя</th>
        <td>{{ user.firstName }}</td>
      </tr>
      <tr>
        <th>Отчество</th>
        <td>{{ user.middleName }}</td>
      </tr>
      <tr>
        <th>Последний раз заходил</th>
        <td>{{ user.lastEntry }}</td>
      </tr>
    </table>
  </div>
</div>
